
/* ----------------------- GENERAL -------------------- */
body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.linker {
    color: rgb(110, 124, 248) !important;
    text-decoration: none;
}
/* ------------------- BUTTONS --------------------- */
.btn {
    border: none;
    font-family: "Gill Sans";
    font-size: 105%;
    border-radius: 4px; 
    width: auto;
    padding: 1.5% 6% 1.5% 6% !important;
    margin: 1.5%;
    transition: 0.3s ease-in-out;
}
.btn:hover {
    padding: 1.5% 7% 1.5% 7% !important;
    transition: all 0.3s ease-in-out;
}
table .btn {
    padding: 3% 6.5% 3% 6.5% !important;
    margin: 1.5%;
    transition: 0.3s ease-in-out;
}
table .btn:hover {
    padding: 3.5% 8% 3.5% 8% !important;
    transition: all 0.3s ease-in-out;
}
.btn-green {
    background-color: rgb(121, 255, 121);
    color: white;
}
.btn-red {
    background-color: rgb(251, 110, 110);
    color: white;
}
.btn-blue {
    background-color: rgb(110, 124, 248);
    color: white;
}
.btn-pink {
    background-color: rgb(255, 121, 248);
    color: white;
}
.btn-yellow {
    background-color: rgb(255, 235, 121);
    color: white;
}
.btn-cyan {
    background-color: rgb(121, 201, 255);
    color: white;
}
.btn-orange {
    background-color: rgb(255, 211, 90);
    color: white;
}
.btn-purple {
    background-color: rgb(184, 121, 255);
    color: white;
}
.btn-dark {
    background-color: rgb(48, 48, 48);
    color: white;
}
.btn-light {
    background-color: rgb(242, 242, 242);
    color: #404040;
}

/* ------------------- FONTS --------------------- */
.font-modernize {
    font-family: system, -apple-system, ".SFNSText-Regular";
}
.font-coder {
    font-family: "Mono", monospace;
}
.font-simple {
    font-family: "Gill Sans";
}
.font-booktext {
    font-family: Cambria, "Hoefler Text";
}
.font-presentor {
    font-family: Corbel, "Lucida Grande";
}
.font-swarfer {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold";
}
.font-parvor {
    font-family: Consolas, "Andale Mono WT", "Andale Mono";
}
.font-infutura {
    font-family: Futura, Trebuchet MS, Arial,sans-serif; 
}
.font-olddoc {
    font-family: Papyrus,fantasy; 
}
.font-programmer {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace; 
}
.font-documento {
	font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; 
}
.font-inoptima {
	font-family: Optima, Segoe, Segoe UI ,Candara, Calibri, Arial, sans-serif; 
}
.font-comicons {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* ------------------- TABLES --------------------- */
.matrix {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    /* display: flex; */
}
.matrix thead {
    text-align: left;
}
.matrix thead tr th, .matrix thead tr td {
    padding-left: 3%;
    padding-bottom: 0.5%;
    border-bottom: 1px solid black;
}
.matrix tr {
    /* display: flex; */
    flex: auto;
}
.matrix tbody tr td, .matrix tbody tr th {
    padding: 0.75%;
}
th {
    font-weight: 900;
}

/* ------------------- -IZES --------------------- */
.centerize {
    text-align: center;
    align-items: center;
}
.leftize {
    text-align: left;
    align-items: left;
}
.rightize {
    text-align: right;
    align-items: right;
}
.blockize {
    display: block;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 1%;
}
.borderize {
    border: 1px solid black;
    padding: 0.5%;
}
.floatize-r {
    float: right;
}
.floatize-l {
    float: left !important;
}
.floatize-c {
    float: center !important;
}
.inlinize{
    width: auto !important;
    display: inline-block !important; 
    flex-direction: row;
}
.shadowize {
    box-shadow: 4px 4px 7px #303030;
}
.roundize {
    border-radius: 8px;
}
.roundize-none {
    border-radius: 0px !important;
}
.roundize-low {
    border-radius: 3px !important;
}
.roundize-medium {
    border-radius: 13px !important;
}
.roundize-high {
    border-radius: 22px !important;
}
.circlize {
    border-radius: 150px !important;
}

/* ------------------- INPUTS --------------------- */
.input {
    width: 80%;
    margin: 0px;
    padding: 1%;
    border: none;
    font-family: Futura, Trebuchet MS, Arial,sans-serif; 
    border-left: 2px solid black;
    font-size: 120%;
    transition: 0.25s;
    padding-left: 4%;
    margin-bottom: 1%;
}
.input:focus {
    border-left: 4px solid rgb(110, 124, 248);
    /* border-bottom-left-radius: 5px; */
    transition: 0.25s ease-in-out;
    outline: none;
}
.number-type::-webkit-inner-spin-button, .number-type::-webkit-inner-spin-button {
    opacity: 1;
    margin: 0px;
    -webkit-appearance: none !important;
}
.number-type {
    -moz-appearance: textfield;
    appearance: textfield;
}
.range-type {
    border: none;
}
.range-type:focus {
    border: none !important;
}
.range-type::-webkit-slider-runnable-track { /* google chrome */
    cursor: pointer;
    background: #303030;
    border-radius: 3px;
    border-radius: 150px;

}
.range-type::-webkit-slider-thumb { /* google chrome */
    background-color: #303030;
    cursor: pointer;
    border: 3px solid rgb(110, 124, 248);
    -webkit-appearance: none;
    border-radius: 150px;
}
.range-type::-moz-range-track { /* browser: mozilla firefox */
    background-color: rgb(242, 242, 242);
    cursor: pointer;
    border: 2px solid #303030;
    border-radius: 150px;
    height: 25%;
}
.range-type::-moz-range-thumb { /* browser: mozilla firefox */
    background-color: rgb(110, 124, 248);
    border: 3px solid #303030;
    cursor: pointer;
    border-radius: 150px;
    -webkit-appearance: none;
}
.radio-type {
    -webkit-appearance: none;
}
.radio-type, .radio-type:not(:checked) {
    background-color: rgb(242, 242, 242);
    border-radius: 50px;
    border: 3px solid #303030;
    width: auto;
    padding: 3%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.radio-type:checked, .radio-type:focus {
    cursor: pointer;
    background-color: rgb(110, 124, 248);
    border-radius: 150px;
    transition: 0.3s ease-in-out;
}
/* ------------------------ TEXTAREA ---------------------- */
.texter {
    height: 6em;
    outline: none;
    resize: none;
}
/* ------------------------ FORMS ---------------------- */
/* .rishoom {

    width: 86%;
    border-left: 2px solid black;
} */
/* -------------------- HEADER -------------------- */
.header {
    height: 100%;
    width: 100%;
    padding: 2% 6% 2% 7%;
    border-bottom: 2px solid black;
    background-color: #303030;
    color: white;
    transition: 1s ease-in-out;
}
.header a {
    color: rgb(162, 171, 255);
    text-decoration: none; 
   transition: 1s ease-in-out;
}
.header .logo {
    float: right;
    margin-right: 15%;
    width: 9em;
    transition: 1s ease-in-out;
}
.header .main-btn {
    margin-top: 1%;
    padding: 1%;
    color: white;
    background: #303030;
    border-radius: 15px;
    box-shadow: -3px -3px 7px black 3px 3px 7px white;
    box-shadow: -1px -1px 7px #ffffff2c, 1px 1px 5px black;
    border: none;
    margin-right: 3%;
    font-size: 200%;
    cursor: pointer;
    display: inline-block; 
    flex-direction: row;
    transition: 1s ease-in-out;
}
.header .title {
    font-family: system, -apple-system,".SFNSText-Regular";
    margin: 0;
    margin-right: 0%;
    color: rgb(162, 171, 255);
    font-size: 250%;    
    /* float: left; */
    transition: 1s ease-in-out;
}
.header .text {
    font-family: "Gill Sans";
    font-size: 1em;
    width: 50%;
    display: inline-block; 
    flex-direction: row;
    transition: 1s ease-in-out;
}
.header-navbar {
    height: 100%;
    width: 103%;
    margin: 0px;
    border-bottom: 2px solid black;
    color: white;
    transition: 1s ease-in-out;
    padding: 1% 4% 1% 7%;
    background-color: #191919;
    animation: header-to-bar 1s ease-in-out;
}
@keyframes header-to-bar {
    from {
        padding: 2% 6% 2% 7%;
        background-color: #303030;
        width: 100%;
    }
    to {
        padding: 0% 4% 0% 15%;
        background-color: #1C1C1C;
        width: 103%;
    }
}
.header-navbar a {
    color: rgb(162, 171, 255);
    text-decoration: none;
}
.header-navbar .logo {
    float: right;
    margin-right: -25%;
    width: 1em;
    animation: header-to-bar-logo 1s ease-in-out;
}
@keyframes header-to-bar-logo {
    from {
        margin-right: 15%;
        width: 9em;
    }
    to {
        margin-right: -25%;
        width: 1em;
    }
}
.header-navbar .main-btn {
    margin-top: 0.7%;
    padding: 1.5%;
    color: white;
    background: #191919;
    border-radius: 15px;
    box-shadow: -1px -1px 4px #ffffff4b, 3px 3px 8px black;
    border: none;
    margin-right: 3%;
    font-size: 150%;
    cursor: pointer;
    float: inline-start;
    animation: header-to-bar-mainbtn 1s ease-in-out;
}
@keyframes header-to-bar-mainbtn {
    from {
        font-size: 200%;
        padding: 1%;
        margin-top: 1%;
        box-shadow: -1px -1px 7px #ffffff2c, 1px 1px 5px black;
    }
    to {
        font-size: 180%;
        padding: 1.5%;
        margin-top: 0.7%;
        box-shadow: -1px -1px 4px #ffffff4b, 3px 3px 8px black;

    }
}
.header-navbar .title {
    font-family: system, -apple-system,".SFNSText-Regular";
    margin: 0;
    margin-top: 2%;
    margin-right: 15%;
    float: inline-end;
    color: rgb(162, 171, 255);
    font-size: 200%;
    animation: header-to-bar-title 1s ease-in-out;
}
@keyframes header-to-navbar-title {
    from {
        font-size: 250%;
        float: left;
        margin-top: 0%;
        margin-right: 0%;
    }
    to {
        font-size: 200%;
        float: inline-end;
        margin-top: 2%;
        margin-right: 15%;
    }
}
.header-navbar .text {
    font-family: "Gill Sans";
    font-size: 1em;
    width: 50%;
    margin-left: -100%;
    display: inline-block; 
    flex-direction: row;
    animation: header-to-bar-text 1s ease-in-out;
}
@keyframes header-to-bar-text {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: -100%;

    }
}

/* ------------------------ FORMS ---------------------- */
